<div class="container-body">
    <div class="flex justify-center ">
        <div class="p-20 title text-red-600 ">Feliz Natal Amanda 🎄</div>
    </div>

    <div class="flex justify-center">
        <div class="container-text text-white text-base">
            <p>Oii Amanda, Como ta?</p><p>Então fiz esse site para te desejar um feliz natal e tbm porque queria fazer algo para você.
                Bom como você sabe não sou muito bom escrevendo então vou tentar meu melhor kkkk, você foi muito mas muito especial para mim
                nunca alguém me fez abrir meu coração como você fez mas acho que acabei entendo por que você não queria voltar para me projeter 
                tal vez por que fiquei muito dependente de você e bem se eu tivesse percebido isso antes bom não sei se seria diferente mas 
                olha o que eu vivi ao seu lado sempre levarei comigo no meu coração nunca esquecerei os momentos mais divertidos engraçados 
                que passei. Bem você é minha Padmé é meu Anjo que vive nas luas de Iego um das criaturas mais bonitas desse universo (nuh fui
                nerd hein kkkk) e nem vem falar que você não é bonita, por que queria que você se visse como eu ah vejo uma pessoa tão unica
                que não existe palavras que eu consiga falar que chega ao nivel do que eu realmente quero dizer sabe. Não quero te deixar triste
                ou algo assim só quero te falar que você é bastante especial para mim e agora que não estamos juntos vou lutar para tentar alcançar 
                o meu melhor e vou fazer isso mesmo não estando ao meu lado mas sabia que sempre que você precisar você pode contar comigo sempre.
                E só mais uma coisa, eu queria sair com você e se você tambem quiser pode me chamar ta bom? mas acho que por enqunto você não quer 
                nada comigo e bem não posso fazer nada sobre. Me desculpa qualquer coisa e bem fiz esse site com bastante carinho e espero que 
                você tenha gostado :)
                <br>
                FELZ NATAL! 
            
            </p>
        </div>

    </div>

    <div class="">
        <div class="vader">
            <div class="shadow"></div>
            <div class="head"><div class="helmet"><span class="left"></span><span class="right"></span></div><div class="eyes"><span class="left"></span><span class="right"></span></div><span class="grill"><span class="left"></span><span class="center"></span><span class="right"></span></span><span class="mask"><span class="top"></span><span class="left"></span><span class="center"></span><span class="right"></span></span><span class="line"></span></div>
            <div class="torso"><span class="neck"><span class="left"></span><span class="center"></span><span class="right"></span><span class="bottom"></span></span><span class="belt"><span class="center"></span></span><div class="plate"><span class="red_top"></span><span class="red_center"></span><span class="red_bottom"></span><span class="blue"></span><span class="gray"></span></div></div>
            <div class="hand left"><span class="hand"></span></div>
            <div class="hand right animation-right"><span class="hand"></span></div>
            <div class="legs"><span class="left"></span><span class="right"></span></div>
            <div class="boots"><span class="left"></span><span class="right"></span></div>
            <div class="sword animation-left"><span class="handle"></span><span class="light"></span></div>
            </div>
    </div>
</div>